.slider{
    width: 600px;
    margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .input-and-button{
        width: 80%;
        height: 50px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        padding-left: 20px;
        padding-right: 10px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        input{
            flex: 6;
            height: 80%;
            border: none;
            font-size: 20px;
        }
        input:focus{
            outline: none;
        }
        button{
            flex:1;
            height: 90%;
            border-radius: 30px;
            outline: none;
            border: none;
            background-color: rgb(26, 209, 151);
            color: white;
            font-weight: bold;
            transition: all 1s;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        button:hover{
            outline: none;
            border: none;
            background-color: rgb(11, 105, 76);
        }
        button:focus{
            outline: none;
            border: none;
        }
        button:active{
            transition: 0s;
            background-color: red;
        }

    }

    .rest-button{
        width: 500px;
        height: 50px;
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        input[type=checkbox]{
            margin-left: 15px;
            margin-right: 4px;
        }
    }
    
}